.footer {
  background-color: #E7FC4D;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "outfit", sans-serif;
  font-weight:400;
  font-size: 16px;
}

.footer-logo {
  font-size: 1.5em;
  margin: 0;
}

/* Links side by side on mobile */
.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction:column; 
  align-items: center;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  
}

.footer-rights {
  font-size: 0.75em;
  width: 100%; /* Take full width */
  text-align: center; /* Center text */
  margin-top: 20px; /* Add some space between links and copyright text */
}

.footer-links a:hover {
  color: rgb(78, 78, 78);
}

/* Responsive styles */
@media (min-width: 768px) {
  .footer {
    flex-direction: row; /* Align horizontally on desktop */
    justify-content: space-between; /* Space between logo and links */
    align-items: flex-start; /* Align items to the start */
    flex-wrap: wrap; /* Allow items to wrap as needed */
    position: relative; /* Needed for absolute positioning of .footer-rights */
    font-family: "outfit", sans-serif;
    font-weight:400;
    font-size: 16px;
  }

  .footer-logo {
    align-self: center; /* Center logo vertically */
    order:1;
    
  }

  .footer-links {
    flex-direction: row; /* Keep links side by side */
    justify-content: flex-end; /* Align links to the right */
    align-items: center; /* Center links vertically */
    gap: 50px; /* Increase gap between links */
    order:2;
    padding-top: 20px;;
  }

  .footer-rights {
    order: 3; /* Ensure it's the last item */
    flex-basis: 100%; /* Takes full width */
    margin-top: 10px; /* Add some space above the rights text */
  }
}
