/* Base styles, mobile-first approach */
body {
  font-family: "outfit", 'Roboto', 'sans-serif' ;
  font-size: 24px;
  display:flex;
  flex-direction: column;
  background-image: url('./images/bg.png');
  background-repeat: repeat;
  
}

* {
  --color-pink:#FF68F9;
  --color-green:#E7FC4D;
}