/* Base styles, mobile-first approach */
body {
  font-family: "outfit", 'Roboto', 'sans-serif' ;
  font-size: 24px;
  display:flex;
  flex-direction: column;
  
}

/* Phone styles */
/* Home Page */
.home-main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; /* Center content for mobile */
}

.section1{
  
  background-image: url('../public/images/bg.png');
  background-repeat: repeat;
  height: 1030px;
  
  
}

.catFact-title {
  color: #FF68F9;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-family: "Paytone One";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(-2.8deg);
  z-index: 1;

}

.catFact-box{
  width: 300px;
  flex-shrink: 0;
  border: 3px solid #000;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: -70px;

}

.catFact-subtitle{
  color: #000;
  font-family: "Gochi Hand";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 -5px 0;
}

.home-button{
  display: inline-flex;
  padding: 12px 105px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 34px;
  border: 2px solid #000;
  background: #FF68F9;
  margin: 10px;
    /*font style */
  color: #FFF;
  font-family: Outfit;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-section2{
  width: 100%;
  height: auto;
  display: block;
  margin: 50px 0px -10px 0px;
}

.home-green{
  position: absolute;
  bottom:-100px;
  left: -60px;
  width: 150px;


}

.home-blue{
  position: absolute;
  top: 80px;
  right: -40px;
  width: 200px;
}

.home-toy{
  position: absolute;
  bottom: -350px;
  left: 10px;
}

.home-cat{
  display: flex;
  flex-direction: column;
  margin:  -20px auto 0 auto;
}



/* Desktop styles */
@media (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  
 
}



/* Tablet styles */
@media (min-width: 768px) {

}

