body {
  margin: 0;
  font-family:  "outfit", 'Roboto', 'sans-serif' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:"outfit", 'Roboto', 'sans-serif'  ;
}
